<div class="container mt-4">

    <!-- Top Rated Hero Section -->
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="display-4">Top Rated Movies</h1>
            <p class="lead">Check out the highest-rated movies loved by audiences around the world.</p>
        </div>
    </div>


    <div class="row">
        <!-- Movie 1 -->
        <div class="col-md-3 mb-4">
            <div class="card movie-card h-100 position-relative">
                <img src="~/img/matrix.jpg" class="card-img-top" alt="The Matrix">

                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">The Matrix</h5>
                    <p class="card-text">A computer hacker learns about the true nature of reality.</p>

                    <div class="d-flex mt-auto" style="gap: 0.5rem;">
                        <!-- More Info Button (80%) -->
                        <a href="#" class="btn btn-primary w-100" style="flex-basis: 80%;">More Info</a>

                        <!-- Heart Toggle Button (20%) -->
                        <input type="checkbox" class="d-none" id="watchlist-toggle-1">
                        <label for="watchlist-toggle-1"
                               class="heart-toggle-btn d-flex align-items-center justify-content-center"
                               style="flex-basis: 20%;" title="Add to Watchlist">
                            <i class="far fa-heart unchecked-icon"></i>
                            <i class="fas fa-heart checked-icon"></i>
                        </label>
                    </div>

                </div>
            </div>
        </div>




        <!-- Movie 2 -->
        <div class="col-md-3 mb-4">
            <div class="card movie-card h-100">
                <img src="~/img/avatar.jpg" class="card-img-top" alt="Avatar">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Avatar</h5>
                    <p class="card-text">A paraplegic Marine is sent on a mission to Pandora.</p>

                    <div class="d-flex mt-auto" style="gap: 0.5rem;">
                        <!-- More Info Button (80%) -->
                        <a href="#" class="btn btn-primary w-100" style="flex-basis: 80%;">More Info</a>

                        <!-- Heart Toggle Button (20%) -->
                        <input type="checkbox" class="d-none" id="watchlist-toggle-2">
                        <label for="watchlist-toggle-2"
                               class="heart-toggle-btn d-flex align-items-center justify-content-center"
                               style="flex-basis: 20%;" title="Add to Watchlist">
                            <i class="far fa-heart unchecked-icon"></i>
                            <i class="fas fa-heart checked-icon"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Movie 3 -->
        <div class="col-md-3 mb-4">
            <div class="card movie-card">
                <img src="~/img/avengers.jpg" class="card-img-top" alt="Avengers">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">The Avengers</h5>
                    <p class="card-text">Earth's mightiest heroes must come together.</p>

                    <div class="d-flex mt-auto" style="gap: 0.5rem;">
                        <!-- More Info Button (80%) -->
                        <a href="#" class="btn btn-primary w-100" style="flex-basis: 80%;">More Info</a>

                        <!-- Heart Toggle Button (20%) -->
                        <input type="checkbox" class="d-none" id="watchlist-toggle-3">
                        <label for="watchlist-toggle-3"
                               class="heart-toggle-btn d-flex align-items-center justify-content-center"
                               style="flex-basis: 20%;" title="Add to Watchlist">
                            <i class="far fa-heart unchecked-icon"></i>
                            <i class="fas fa-heart checked-icon"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Movie 4 -->
        <div class="col-md-3 mb-4">
            <div class="card movie-card">
                <img src="~/img/dark_knight.jpg" class="card-img-top" alt="The Dark Knight">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">The Dark Knight</h5>
                    <p class="card-text">Batman faces the Joker in Gotham City.</p>

                    <div class="d-flex mt-auto" style="gap: 0.5rem;">
                        <!-- More Info Button (80%) -->
                        <a href="#" class="btn btn-primary w-100" style="flex-basis: 80%;">More Info</a>

                        <!-- Heart Toggle Button (20%) -->
                        <input type="checkbox" class="d-none" id="watchlist-toggle-4">
                        <label for="watchlist-toggle-4"
                               class="heart-toggle-btn d-flex align-items-center justify-content-center"
                               style="flex-basis: 20%;" title="Add to Watchlist">
                            <i class="far fa-heart unchecked-icon"></i>
                            <i class="fas fa-heart checked-icon"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Movie 5 -->
        <div class="col-md-3 mb-4">
            <div class="card movie-card">
                <img src="~/img/fight_club.jpg" class="card-img-top" alt="Fight Club">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Fight Club</h5>
                    <p class="card-text">An insomniac office worker forms an underground fight club.</p>

                    <div class="d-flex mt-auto" style="gap: 0.5rem;">
                        <!-- More Info Button (80%) -->
                        <a href="#" class="btn btn-primary w-100" style="flex-basis: 80%;">More Info</a>

                        <!-- Heart Toggle Button (20%) -->
                        <input type="checkbox" class="d-none" id="watchlist-toggle-5">
                        <label for="watchlist-toggle-5"
                               class="heart-toggle-btn d-flex align-items-center justify-content-center"
                               style="flex-basis: 20%;" title="Add to Watchlist">
                            <i class="far fa-heart unchecked-icon"></i>
                            <i class="fas fa-heart checked-icon"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Movie 6 -->
        <div class="col-md-3 mb-4">
            <div class="card movie-card">
                <img src="~/img/godfather.jpg" class="card-img-top" alt="The Godfather">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">The Godfather</h5>
                    <p class="card-text">The aging patriarch of a crime dynasty transfers control to his son.</p>

                    <div class="d-flex mt-auto" style="gap: 0.5rem;">
                        <!-- More Info Button (80%) -->
                        <a href="#" class="btn btn-primary w-100" style="flex-basis: 80%;">More Info</a>

                        <!-- Heart Toggle Button (20%) -->
                        <input type="checkbox" class="d-none" id="watchlist-toggle-6">
                        <label for="watchlist-toggle-6"
                               class="heart-toggle-btn d-flex align-items-center justify-content-center"
                               style="flex-basis: 20%;" title="Add to Watchlist">
                            <i class="far fa-heart unchecked-icon"></i>
                            <i class="fas fa-heart checked-icon"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Movie 7 -->
        <div class="col-md-3 mb-4">
            <div class="card movie-card">
                <img src="~/img/interstellar.jpg" class="card-img-top" alt="Interstellar">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Interstellar</h5>
                    <p class="card-text">A team of explorers travel through a wormhole in space.</p>

                    <div class="d-flex mt-auto" style="gap: 0.5rem;">
                        <!-- More Info Button (80%) -->
                        <a href="#" class="btn btn-primary w-100" style="flex-basis: 80%;">More Info</a>

                        <!-- Heart Toggle Button (20%) -->
                        <input type="checkbox" class="d-none" id="watchlist-toggle-7">
                        <label for="watchlist-toggle-7"
                               class="heart-toggle-btn d-flex align-items-center justify-content-center"
                               style="flex-basis: 20%;" title="Add to Watchlist">
                            <i class="far fa-heart unchecked-icon"></i>
                            <i class="fas fa-heart checked-icon"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Movie 8 -->
        <div class="col-md-3 mb-4">
            <div class="card movie-card">
                <img src="~/img/ironman.jpg" class="card-img-top" alt="Iron Man">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Iron Man</h5>
                    <p class="card-text">A billionaire industrialist builds a high-tech armored suit.</p>

                    <div class="d-flex mt-auto" style="gap: 0.5rem;">
                        <!-- More Info Button (80%) -->
                        <a href="#" class="btn btn-primary w-100" style="flex-basis: 80%;">More Info</a>

                        <!-- Heart Toggle Button (20%) -->
                        <input type="checkbox" class="d-none" id="watchlist-toggle-8">
                        <label for="watchlist-toggle-8"
                               class="heart-toggle-btn d-flex align-items-center justify-content-center"
                               style="flex-basis: 20%;" title="Add to Watchlist">
                            <i class="far fa-heart unchecked-icon"></i>
                            <i class="fas fa-heart checked-icon"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
