<div class="container mt-5">
    <!-- Hero Section -->
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="display-4">Welcome to Movie Tracker</h1>
            <p class="lead">Discover new movies and keep track of your favorites.</p>
        </div>
    </div>

    <!-- Popular Movies Section (Carousel) -->
    <div class="row mb-5">
        <div class="col-12">
            <h2 class="section-title">Popular Movies</h2>
            <div id="popularMoviesCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <!-- Slide 1 -->
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-3 mb-4">
                                <div class="card movie-card h-100">
                                    <img src="~/img/furios.jpg" class="card-img-top" alt="Movie 1">
                                    <div class="card-body movie-card-body">
                                        <h5 class="card-title">Fast & Furious</h5>
                                        <p class="card-text">High-speed street racing and action-packed heists.</p>
                                        <a href="#" class="btn btn-custom btn-block">More Info</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 mb-4">
                                <div class="card movie-card h-100">
                                    <img src="~/img/avatar.jpg" class="card-img-top" alt="Movie 2">
                                    <div class="card-body movie-card-body">
                                        <h5 class="card-title">Avatar</h5>
                                        <p class="card-text">A marine on an alien planet torn between two worlds.</p>
                                        <a href="#" class="btn btn-custom btn-block">More Info</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 mb-4">
                                <div class="card movie-card h-100">
                                    <img src="~/img/dark_knight.jpg" class="card-img-top" alt="Movie 3">
                                    <div class="card-body movie-card-body">
                                        <h5 class="card-title">The Dark Knight</h5>
                                        <p class="card-text">Batman faces his greatest enemy, the Joker.</p>
                                        <a href="#" class="btn btn-custom btn-block">More Info</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 mb-4">
                                <div class="card movie-card h-100">
                                    <img src="~/img/spiderman.jpg" class="card-img-top" alt="Movie 4">
                                    <div class="card-body movie-card-body">
                                        <h5 class="card-title">Spider-Man</h5>
                                        <p class="card-text">A young man discovers great power and responsibility.</p>
                                        <a href="#" class="btn btn-custom btn-block">More Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 2 -->
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-3 mb-4">
                                <div class="card movie-card h-100">
                                    <img src="~/img/avengers.jpg" class="card-img-top" alt="Movie 5">
                                    <div class="card-body movie-card-body">
                                        <h5 class="card-title">Avengers</h5>
                                        <p class="card-text">Earth’s mightiest heroes unite to save the planet.</p>
                                        <a href="#" class="btn btn-custom btn-block">More Info</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 mb-4">
                                <div class="card movie-card h-100">
                                    <img src="~/img/ironman.jpg" class="card-img-top" alt="Movie 6">
                                    <div class="card-body movie-card-body">
                                        <h5 class="card-title">Iron Man</h5>
                                        <p class="card-text">A billionaire builds a high-tech suit to fight crime.</p>
                                        <a href="#" class="btn btn-custom btn-block">More Info</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 mb-4">
                                <div class="card movie-card h-100">
                                    <img src="~/img/matrix.jpg" class="card-img-top" alt="Movie 7">
                                    <div class="card-body movie-card-body">
                                        <h5 class="card-title">The Matrix</h5>
                                        <p class="card-text">A hacker discovers reality is an illusion.</p>
                                        <a href="#" class="btn btn-custom btn-block">More Info</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 mb-4">
                                <div class="card movie-card h-100">
                                    <img src="~/img/godfather.jpg" class="card-img-top" alt="Movie 8">
                                    <div class="card-body movie-card-body">
                                        <h5 class="card-title">The Godfather</h5>
                                        <p class="card-text">An epic tale of power, loyalty, and family legacy.</p>
                                        <a href="#" class="btn btn-custom btn-block">More Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Carousel Controls -->
                <a class="carousel-control-prev" href="#popularMoviesCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#popularMoviesCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <!-- New Releases Section (Carousel) -->
    <div class="row mb-5">
        <div class="col-12">
            <h2 class="section-title">New Releases</h2>
            <div id="newReleasesCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <!-- Slide 1 -->
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-3 mb-4">
                                <div class="card movie-card h-100">
                                    <img src="~/img/interstellar.jpg" class="card-img-top" alt="New Release 1">
                                    <div class="card-body movie-card-body">
                                        <h5 class="card-title">Interstellar</h5>
                                        <p class="card-text">A journey across space to save humanity’s future.</p>
                                        <a href="#" class="btn btn-custom btn-block">More Info</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 mb-4">
                                <div class="card movie-card h-100">
                                    <img src="~/img/fight_club.jpg" class="card-img-top" alt="New Release 2">
                                    <div class="card-body movie-card-body">
                                        <h5 class="card-title">Fight Club</h5>
                                        <p class="card-text">An insomniac’s life spirals into chaos.</p>
                                        <a href="#" class="btn btn-custom btn-block">More Info</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 mb-4">
                                <div class="card movie-card h-100">
                                    <img src="~/img/insideout.jpg" class="card-img-top" alt="New Release 3">
                                    <div class="card-body movie-card-body">
                                        <h5 class="card-title">Inside Out</h5>
                                        <p class="card-text">Emotions guide a girl through a major life change.</p>
                                        <a href="#" class="btn btn-custom btn-block">More Info</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 mb-4">
                                <div class="card movie-card h-100">
                                    <img src="~/img/titanik.jpg" class="card-img-top" alt="New Release 4">
                                    <div class="card-body movie-card-body">
                                        <h5 class="card-title">Titanic</h5>
                                        <p class="card-text">A love story aboard the ill-fated ocean liner.</p>
                                        <a href="#" class="btn btn-custom btn-block">More Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Carousel Controls -->
                <a class="carousel-control-prev" href="#newReleasesCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#newReleasesCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
